---
layout: archive
title: ""
permalink: /talks/
author_profile: true
---

<header>
  <h1>Talks</h1>
{% for post in site.talks reversed %}
  {% if post.type == "Presentation" %}
    {% include archive-single-talk.html %}
  {% endif %}
{% endfor %}
</header>

<hr style="height:20px">  

<header>
  <h1>Posters</h1>
{% for post in site.talks reversed %}
  {% if post.type == "Poster" %}
    {% include archive-single-talk.html %}
  {% endif %}
{% endfor %}
</header>

<hr style="height:20px">  

<header>
  <h1>Others</h1>
{% for post in site.talks reversed %}
  {% if post.type != "Poster" and post.type != "Presentation" %}
    {% include archive-single-talk.html %}
  {% endif %}
{% endfor %}
</header>
